<div class="flex flex-col space-y-2 py-3">
  <span class="text-3xl">{{ title }}</span>
  <span class="text-lg font-thin">{{ description }}</span>
  <div class="rounded-lg flex flex-wrap gap-6">
    @for (image of imagesArray; track image) {
    <img [src]="image" class="aspect-auto max-h-96 w-auto rounded-lg object-contain" />
    }
  </div>
  @if (isNew){<span class="text-md">Brand new</span>} @if (!isNew){<span class="text-md">Pre-owned</span>}
  <span class="text-md">Price: ${{ price }}</span>
</div>
