<div class="flex-col flex justify-center">
  <app-category-box />
  <div class="mt-4 flex flex-col space-y-14 justify-center w-full">
    <app-search-bar
      class="w-full flex justify-between items-center rounded-full border-2 border-neutral-400 h-12 pr-3 pl-6 shadow-md shadow-neutral-200"
    />
    <app-top-categories-list class="w-full" />
    @if(user){
    <app-last-visited-products-list [products]="user.lastVisitedProducts ? user.lastVisitedProducts : []" />
    } @else {}
  </div>
</div>
