<div class="w-full xl:w-10/12 rounded-lg border-neutral-300 border-4">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step>
      <ng-template matStepLabel>Name and describe</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="E.g. Sony 3D glasses" [(ngModel)]="itemName" maxlength="{{ itemNameMaxLength }}" />
        <div class="w-full flex justify-end">
          <span class="text-xs text-neutral-600">{{ itemName.length }}/{{ itemNameMaxLength }}</span>
        </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          maxlength="{{ itemDescriptionMaxLength }}"
          placeholder="E.g. Bought in 2010. Barely used."
          [(ngModel)]="itemDescription"
        >
        </textarea>
        <div class="w-full flex justify-end">
          <span class="text-xs text-neutral-600">{{ itemDescription.length }}/{{ itemDescriptionMaxLength }}</span>
        </div>
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" class="flex flex-col" [(ngModel)]="itemIsNew">
        <mat-radio-button [value]="true">Brand new</mat-radio-button>
        <mat-radio-button [value]="false">Pre-owned</mat-radio-button>
      </mat-radio-group>

      <div class="w-full flex justify-end">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Set price</ng-template>
      <mat-form-field>
        <mat-label>Price</mat-label>
        <div class="flex">
          <input
            matInput
            placeholder="E.g. Sony 3D glasses"
            type="number"
            inputmode="decimal"
            [(ngModel)]="itemPrice"
            #item
            (change)="onChange(this.item.value)"
          />
          <span>$&nbsp;</span>
        </div>
      </mat-form-field>

      <div class="w-full flex justify-end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <div class="flex flex-wrap gap-5 py-4">
        <ng-template matStepLabel>Add pictures</ng-template>

        @for (item of array; track item) {

        <app-image-add-field />

        }
      </div>
      <div class="w-full flex justify-end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <app-create-item-summary-card
        [title]="itemName"
        [description]="itemDescription"
        [isNew]="itemIsNew"
        [price]="itemPrice"
      />
      <div class="w-full flex justify-end">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onCreateItem()">Create a sale</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
