mat-form-field {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
}
.mdc-text-field--filed:not(.mdc-text-field--disabled).mdc-text-field--focused.mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
  color: #0891b2 !important;
}
.mat-step-icon-content {
  color: #e5e5e5;
  font-weight: 400;
}

.mat-vertical-stepper-header .mat-step-icon {
  background-color: #e5e5e5;
}
.mat-vertical-stepper-header .mat-step-icon-selected {
  background-color: #0891b2;
}

.mdc-line-ripple::after {
  border-bottom-color: #0891b2 !important;
}
.mdc-line-ripple::before {
  border-bottom-color: #404040 !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:not(:checked)
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: #0891b2 !important;
}

.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__outer-circle {
  border-color: #0891b2 !important;
}
.mat-mdc-radio-button
  .mdc-radio
  .mdc-radio__native-control:enabled:checked
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  border-color: #0891b2 !important;
}

.mat-mdc-radio-button
  .mdc-radio:hover
  .mdc-radio__native-control:enabled
  + .mdc-radio__background
  .mdc-radio__inner-circle {
  background-color: white !important;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #0891b2;
  --mdc-radio-selected-hover-icon-color: #0891b2;
  --mdc-radio-selected-icon-color: #0891b2;
  --mdc-radio-selected-pressed-icon-color: #0891b2;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: #0891b2;
  --mat-radio-disabled-label-color: rgb(0 0 0 / 38%);
}
