<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<div
  class="relative aspect-square bg-neutral-200 w-36 md:w-44 rounded-lg flex items-center justify-center cursor-pointer"
>
  <input type="file" class="opacity-0 w-full h-full static z-10 cursor-pointer" (change)="onFileSelected($event)" />
  @if (!file) {<span
    class="material-icons text-neutral-800 text-5xl select-none absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%]"
    >add</span
  >
  } @if (file) {
  <img [src]="file" class="z-10 absolute" />
  <input type="file" class="opacity-0 w-full h-full cursor-pointer z-20" (change)="onFileSelected($event)" />
  <span
    class="material-icons text-neutral-800 text-5xl select-none absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] z-30"
    >edit</span
  >
  }
</div>
