@if (images){
<div class="relative w-full">
  <button class="material-icons absolute top-1/2 left-0 translate-y-1/2 text-neutral-700" (click)="setNextImageLeft()">
    arrow_back_ios_new
  </button>
  <img
    [src]="images![currentImage]"
    class="w-full md:w-[500px] aspect-square object-scale-down bg-neutral-100 rounded-lg px-10 slide"
  />
  <button
    class="material-icons absolute top-1/2 right-0 translate-y-1/2 text-neutral-700"
    (click)="setNextImageRight()"
  >
    arrow_forward_ios
  </button>
</div>
}
