<div class="flex flex-col space-y-6">
  <app-logo [size]="3" />
  <form [formGroup]="loginForm" class="flex flex-col w-full md:w-72 font-jost space-y-6 text-2xl">
    <div class="w-full flex border-b-[1px] border-neutral-100 space-x-2 py-2 items-center">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="person"
        class="text-neutral-100"
      ></mat-icon>
      <input
        formControlName="email"
        type="text"
        placeholder="E-mail"
        class="bg-transparent text-neutral-100 outline-none border-none placeholder:text-neutral-100 placeholder:text-md"
      />
    </div>

    <div class="w-full flex border-b-[1px] border-neutral-100 space-x-2 py-2 items-center">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="lock" class="text-neutral-100"></mat-icon>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="bg-transparent text-neutral-100 outline-none border-none placeholder:text-neutral-100 placeholder:text-md"
      />
    </div>

    <app-button-form-submit (click)="onSubmitData()" [buttonText]="buttonText"></app-button-form-submit>
  </form>
  <div class="w-full flex justify-center font-inter">
    <span class="text-neutral-200"
      >Don't have an account? <a class="text-cyan-500 font-bold cursor-pointer" routerLink="/signup">Sign up</a></span
    >
  </div>
</div>
