<div class="py-10 px-6 flex flex-col justify-center items-center bg-neutral-100 space-y-6">
  <img class="w-64 md:w-96" src="./../../../../assets/svgs/well_done_svg.svg" />
  <div class="flex flex-col space-y-2 items-center">
    <span class="text-xl font-bold text-neutral-700">Your sale has been created!</span>
    <span
      [routerLink]="'/account/sales'"
      class="text-lg text-neutral-700 border-b-[1px] border-neutral-400 cursor-pointer"
      >See all your <span class="font-bold text-cyan-600">offers</span></span
    >
  </div>
</div>
