<form class="w-full flex flex-col items-center space-y-6">
  <mat-form-field>
    <mat-label>E-mail</mat-label>
    <input matInput disabled value="{{ user?.email }}" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput value="{{ user?.displayName }}" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput value="{{ user?.location }}" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Phone number</mat-label>
    <span matTextPrefix>+48 &nbsp;</span>
    <input type="tel" matInput placeholder="123-456-798" />
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <app-button-form-submit buttonText="Save" class="w-36" />
</form>
