<div class="w-full bg-neutral-50 border-2 border-neutral-200 rounded-lg py-6 px-4 space-y-3 flex flex-col">
  <div class="flex space-x-4 py-2">
    <app-item-description-card-tag [text]="'&#x24;' + item.price.toString()" />
    <app-item-description-card-tag [text]="item.isNew ? 'New' : 'Used'" />
    <app-item-description-card-tag [text]="item.isSalePrivate ? 'Private' : 'Company'" />
  </div>
  <div class="flex space-x-3 items-center">
    <span class="uppercase font-bold text-neutral-700 text-2xl tracking-wide">Description </span>
    @if(user){ @if (user.userId === item.userId){
    <span class="material-icons text-neutral-700 opacity-70 hover:opacity-95 cursor-pointer">edit</span>
    <span class="material-icons text-red-700 opacity-70 hover:opacity-95 cursor-pointer" (click)="openDeleteDialog()"
      >delete</span
    >
    } }
  </div>
  <span class="text-lg">{{
    item.description ? item.description : 'Description has not been added to this sale.'
  }}</span>
</div>
